@media(max-width:425px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: hsl(257, 40%, 49%);
    }

    .header img {
        margin: 0;
        width: 150px;
       
    }

    .content {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .content img {
        width: 290px;
        margin: 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
}